@import "./variables";

.header {
  @include flex;
  @include box-shadow();
  width: 100%;
  background-color: $white-color;
  justify-content: space-between;
  align-items: center;

  &__logo {
    img {
      max-width: 100px;
      object-fit: cover;
    }
  }

  &__options {
    margin-right: 1rem;
  }
}
