@import "../variables";

.card {
  background-color: $white-color;
  margin: 10px;
  width: 350px;
  @include box-shadow;

  &__title {
    margin: 0;
    background: $white-color;
    padding: 10px;
    border-bottom: 2px solid $app-background-color;
    text-align: center;
  }

  &__content {
    padding: 10px;

    &__due {
      color: $danger-color !important;
      margin-right: 5px;
    }

    li {
      font-size: 17px;
    }
  }

  &__footer {
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    border-top: 1px solid $app-background-color;
  }
}
