@import "../../atoms/theme/variables";

.taskList {
  @include flex;

  &__cards {
    @include flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__header {
    padding: 14px;
    border-bottom: 0.1em solid $border-item-table-color;
  }
}
