@import "./variables";

html {
  height: 100%;
  background-color: $app-background-color;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.content {
  @include flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 100%;
  }
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: white;
  border-width: 0;

  &:focus {
    outline: 0;
  }

  &__circle {
    width: 45px;
    height: 45px;
    @include flex;
    justify-content: center;
    @include border-radius(50%);
  }

  &__success {
    background-color: $success-color;
    border-color: $border-success;

    &:hover {
      background-color: $success-hover;
      border-color: $border-hover-success;
    }
  }

  &__default {
    color: black;

    &:hover {
      background-color: $app-background-color;
      border-color: $app-background-color;
    }
  }

  &__primary {
    background-color: $primary-color;
    border-color: $border-primary;

    &:hover {
      background-color: $primary-hover;
      border-color: $border-hover-primary;
    }
  }

  &__danger {
    background-color: $danger-color;
    border-color: $border-danger;

    &:hover {
      background-color: $danger-hover;
      border-color: $border-hover-danger;
    }
  }

  &__warning {
    background-color: $warning-color;
    border-color: $border-warning;

    &:hover {
      background-color: $warning-hover;
      border-color: $border-hover-warning;
    }
  }
}
