@media screen and (max-width: 768px) {
  .popup-content {
    width: 95% !important;
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 15px;
  }

  .card {
    width: 100%;
  }
  .header__options {
    .btn__circle {
      width: 35px !important;
      height: 35px !important;
    }
  }

  .header__logo {
    img {
      max-width: 70px;
    }
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 10px;
  }

  .header__logo {
    img {
      max-width: 70px;
    }
  }
}
