$white-color: #ffffff;
$warning-color: #ffc107;
$success-color: #28a745;
$primary-color: #007bff;
$danger-color: #dc3545;
$header-color: #455fe7;
$input-color: #495057;

$app-background-color: rgb(246, 248, 249);
$border-item-table-color: rgb(238, 241, 242);

$border-primary: #007bff;
$primary-hover: #0069d9;
$border-hover-primary: #0062cc;

$border-danger: #dc3545;
$danger-hover: #c82333;
$border-hover-danger: #bd2130;

$border-success: $success-color;
$success-hover: #218838;
$border-hover-success: #1e7e34;

$border-warning: $warning-color;
$warning-hover: #e0a800;
$border-hover-warning: #d39e00;

@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// @mixin btn($hover: false , $color: 'primary') {
//   @if $hover {
//     background-color: #007bff;
//     border-color: #007bff;
//     color: #fff;
//   } @else {
//     color: #fff;
//     background-color: #0069d9;
//     border-color: #0062cc;
//   }
// }

@mixin box-shadow($horiz: 0.5em, $vert: 0.5em, $blur: 0.5em, $color: #edeff1) {
  -webkit-box-shadow: $horiz $vert $blur $color;
  -moz-box-shadow: $horiz $vert $blur $color;
  box-shadow: $horiz $vert $blur $color;
}
